extends layout

block content
    section.hero.is-medium
        .hero-body
            p.title PeerWave
             span.mt-1.is-size-7.has-text-weight-light.is-family-monospace &nbsp;v0.0.4
            p.subtitle WebRTC share peer to peer to peer... the endless meshed wave of sharing
            h1.is-size-4.has-text-weight-bold.has-text-primary How it works
            p.is-size-5 In the current version, you can share your screen, window, tab, or multiple files. This app uses 
                a(href="https://socket.io" target="_blank") Socket.io 
                | to manage some metadata for peers and files. The data is shared directly between peers without a server in
                | the middle. All direct peers share the same stream or downloaded files to increase your audience and overcome
                | limitations.
            p.is-size-5.mt-3 This is achieved using the 
                a(href="https://webrtc.org" target="_blank") WebRTC 
                | standard. A Google 
                a(href="https://en.wikipedia.org/wiki/STUN" target="_blank") STUN 
                | server is used to establish connections between peers, but you can use your 
                a(href="https://www.stunprotocol.org" target="_blank") own STUN server 
                |if you host the app yourself. All metadata in this app is temporary and will be lost if the server restarts.
            h1.is-size-4.has-text-weight-bold.has-text-primary.mt-5 Limitations
            p.is-size-5 The main limitation is your upload speed, which is shared with your direct peers. 
                | If you are streaming, factors like the codec, resolution, and quick refreshes can increase your CPU
                | (for VP8/VP9) or GPU (for H.264) load and affect your upload speed. The Chrome browser can handle up
                | to 512 data connections and 56 streams.
            p.is-size-5.mt-3 If you are sharing files, the file size and the number of files increase your memory usage. 
                |The files are splitted in chunks and your peers share also your downloaded file and hold the data in their memory.
            h1.is-size-4.has-text-weight-bold.has-text-primary.mt-5 Source Code
            p.is-size-5 This is an open-source project licensed under the MIT license. You can find the 
                a(href="https://github.com/simonzander/PeerWave") source code 
                | on 
                a(href="https://github.com/simonzander/PeerWave") GitHub
                | .
            h1.is-size-4.has-text-weight-bold.has-text-primary.mt-5 Support
            p.is-size-5 If you like this project, you can support me by  
                a buying me a coffee
                | . You can also contribute to the 
                a(href="https://github.com/simonzander/PeerWave") project 
                | on GitHub. Feature requests and bug reports are welcome.
