extends layout

block content
    .modal(id="settingsModal")
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Advanced Settings
                button.delete.close-modal(aria-label="close")
            section.modal-card-body
                .content 
                    div
                        label.checkbox.mb-4
                            input(type="checkbox" name="enableCropping" id="enableCropping")
                            |  Enable Cropping (above Chrome 94, Edge 94 and Opera 80)
                        input.input(id="top" name="top", type="number", placeholder="top")
                        input.input(id="left" name="left", type="number", placeholder="left")
                        input.input(id="bottom" name="bottom", type="number", placeholder="bottom")
                        input.input(id="right" name="right", type="number", placeholder="right")
                    div.mt-4
                        label.checkbox
                            input(type="checkbox" name="enableResizing" id="enableResizing")
                            |  Enable Resizing (above Chrome 94, Edge 94 and Opera 80)
                        div.mt-4.columns
                            label.column.is-10 Aspect Ratio
                            .select 
                                select(name="ratio" id="ratio" autocomplete="off") 
                                    option(selected="selected" value="16:9") 16:9
                                    option(value="16:10") 16:10
                                    option(value="4:3") 4:3
                        div.mt-4.columns
                            label.column.is-10 Resolution
                            .select
                                select(name="res" id="res" autocomplete="off") 
                                    option(value="4320") 4320p
                                    option(value="2160") 2160p
                                    option(value="1440") 1440p
                                    option(selected="selected" value="1080") 1080p
                                    option(value="720") 720p
                                    option(value="480") 480p
                                    option(value="360") 360p
                                    option(value="240") 240p
                                    option(value="144") 144p
                        .subtitle Custom
                        input.input(type="number", name="width", id="width", placeholder="width")
                        input.input(type="number" name="height", id="height", placeholder="height")
            footer.modal-card-foot
                .buttons
                    button.button.is-success.close-modal#saveSettings Save changes
                    button.button.close-modal Cancel
    .cell.is-fullheight(style="height: 95.7vh;")
        .tabs.is-centered.is-boxed.is-medium
            ul.mt-4
                li#tab_stream.is-active
                    a
                        span.icon.is-small
                            i.fa.fa-video(aria-hidden="true")
                        span Stream
                li#tab_files
                    a
                        span.icon.is-small
                            i.fa.fa-file(aria-hidden="true")
                        span Files
                li#tab_meeting
                    a
                        span.icon.is-small
                            i.fa.fa-users(aria-hidden="true")
                        span Meeting
        #tab_stream_content
            section.hero.is-primary
                .hero-body
                    .grid
                        .cell
                            button#startStreaming.button.is-large.is-black
                                span.icon.is-large
                                    i.fa.fa-video
                                span Start Stream
                            button#openSettings.button.is-primary.is-dark.ml-4.mt-3
                                span.icon.is-large
                                    i.fa.fa-gear
                                span Advanced Settings

                        .cell
                            #copy_viewerurl.control.has-icons-right
                                input#viewerurl.input.is-large.is-black(type="text", placeholder="filled with viewer url", readonly, style="cursor: pointer;")
                                span.icon.is-medium.is-right
                                    i.fa.fa-clipboard
                        .cell.is-col-span-2
                            p.subtitle Click on this button to select your window or screen for streaming. You receive a link for sharing with your audience. Your audience will also share your stream to increase your upload bandwidth with peering.
            div
                #overlay_pause(style="height: 60vh; width: 100vh; position: absolute; z-index: 1; background-color: rgba(0,0,0, 0.8); visibility: hidden;")
                    article.message(style="padding: 20vh;")
                        .message-header
                            p Note
                            button.delete.close_pause(aria-label="delete")
                        .message-body
                            div.mb-4
                                b Your stream is still running! We've just paused this preview to save your resources. Close this window to continue the preview.
                            div.has-text-centered
                                button.button.is-primary.close_pause
                                    span Close
                video(controls autoplay muted poster="./novideo.jpg", style="height: 60vh; width: 100vh;")
            footer.footer
                nav.level
                    .level-item.has-text-centered
                        div
                            p.heading upload speed
                            p.title.upload_speed 0.00 KB/s
                    .level-item.has-text-centered
                        div
                            p.heading audience
                            p.title#countAudience 0
                    .level-item.has-text-centered
                        div
                            p.heading max peers
                            p.title
                                input.input.is-normal.is-primary.max_peers(type="number", min="1", value="5")
        #tab_files_content.is-hidden
            section.hero.is-primary
                .hero-body
                    .grid
                        .cell
                            button#uploadbutton.button.is-large.is-black
                                span.icon.is-large
                                    i.fa.fa-upload
                                span Share Files
                            input#filesinput(type="file", multiple, name="files[]", style="display: none;")
                        .cell
                            #copy_shareurl.control.has-icons-right
                                input#shareurl.input.is-large.is-black(type="text", placeholder="filled with share url", readonly, style="cursor: pointer;")
                                span.icon.is-medium.is-right
                                    i.fa.fa-clipboard
                        .cell.is-col-span-2
                            p.subtitle Click on this button to select your files for sharing. You receive a link for sharing with your audience. Your audience will also share your files if they downloaded it.
            div
                article#fileList.panel.is-link(style="overflow: auto; height: 58vh; margin: 1rem auto;")
                    p.panel-heading Files
                    a.panel-block
                        span.panel-icon
                            i.fa.fa-file(aria-hidden="true")
                        div.columns(style="width: 100%")
                            div.column.has-text-weight-bold Filename
                            div.column.has-text-weight-bold Upload
                            div.column.has-text-weight-bold Size
                            div.column.has-text-weight-bold Seeders
                            div.column.has-text-weight-bold Delete
                    div#filecontent
            footer.footer
                nav.level
                    .level-item.has-text-centered
                        div
                            p.heading upload speed
                            p.title.upload_speed 0.00 kbit/s
                    .level-item.has-text-centered
                        div
                            p.heading current peers
                            p.title#countPeers 0
                    .level-item.has-text-centered
                        div
                            p.heading max peers
                            p.title
                                input.input.is-normal.is-primary.max_peers(type="number", min="1", value="8")
        #tab_meeting_content.is-hidden
            section.hero.is-primary
                .hero-body
                    .grid
                        .cell
                            button#startmeetingbutton.button.is-large.is-black
                                span.icon.is-large
                                    i.fa.fa-user
                                span Start Meeting
                        .cell
                            #copy_meetingurl.control.has-icons-right
                                input#meetingurl.input.is-large.is-black(type="text", placeholder="filled with meeting url", readonly, style="cursor: pointer;")
                                span.icon.is-medium.is-right
                                    i.fa.fa-clipboard
                        .cell.is-col-span-2
                            p.subtitle Click on this button to start instant or schedule this meeting. Depending on your settings below. You receive a link for sharing with your audience.
            div(style="overflow: auto; height: 80vh; padding: 3rem;")
                .subtitle.mt-4 General
                .field 
                    label.label Meeting Name
                    .control
                        input.input(type="text", name="meetingname", id="meetingname", placeholder="Meeting Name")
                .field
                    label.label Meeting Description
                    .control
                        textarea.textarea(name="meetingdesc", id="meetingdesc", placeholder="Meeting Description")
                .field 
                    label.label Meeting Time
                    .control
                        label.radio
                            input(type="radio", name="meetingtype" id="instantmeeting", value="instant", checked)
                            |  Instant
                        label.radio
                            input(type="radio", name="meetingtype", id="schedulemeeting" value="schedule")
                            |  Schedule
                        label.label Start Date (local time)
                    .control
                        input.input(type="datetime-local", name="meetingdate", id="meetingdate", placeholder="Meeting Date")
                .subtitle Options
                .columns 
                    .column
                        .field
                            .control
                                label.checkbox
                                    input(type="checkbox", name="voiceonly", id="voiceonly")
                                    |  Voice Only
                        .field 
                            .control
                                label.checkbox
                                    input(type="checkbox", name="enablechat", id="enablechat" checked)
                                    |  Enable Chat
                        .field
                            .control
                                label.checkbox
                                    input(type="checkbox", name="recording", id="recording" checked)
                                    |  Allow Recording
                    .column
                        .field
                            .control
                                label.checkbox
                                    input(type="checkbox", name="muted", id="muted")
                                    |  Start Muted
                        .field
                            .control
                                label.checkbox
                                    input(type="checkbox", name="camoff", id="camoff")
                                    |  Start Camera Off
                        .field 
                label.label Max Camera Resolution 
                .control
                    .select
                        select(name="camres", id="camres", autocomplete="off") 
                            option(value="4320") 4320p
                            option(value="2160") 2160p
                            option(value="1440") 1440p
                            option(value="1080") 1080p
                            option(value="720") 720p
                            option(selected="selected" value="480") 480p
                            option(value="360") 360p
                            option(value="240") 240p
                            option(value="144") 144p
                

    script(type="module" src="/host.js")