doctype html
html(lang="en")
    head
        title PeerWave v0.0.4 - Share Peer to Peer Effortlessly
        meta(charset="UTF-8")
        meta(name="description" content="PeerWave allows you to share your screen, window, tab, multiple files or hold a meeting directly between peers without a server in the middle. Utilizing WebRTC for a seamless sharing experience.")
        meta(name="keywords" content="PeerWave, WebRTC, peer to peer sharing, peer to peer sharing, file sharing, screen sharing, meeting, webrtc server, webrtc video streaming, webrtc screen sharing, webrtc meeting, webrtc file sharing, peer to peer video streaming, online meeting without registration, online meeting without cam, online meeting")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css")
        link(rel="canonical" href="https://www.peerwave.org")
        script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "SoftwareApplication",
              "name": "PeerWave",
              "description": "Share your screen, window, tab, or multiple files directly between peers.",
              "url": "https://www.peerwave.org"
            }
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css", integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
        script(src="/bulma-toast.min.js")
        script(src="/socket.io/socket.io.js")
    body
        nav.navbar.is-primary(role="navigation", aria-label="main navigation")
            .navbar-brand
                a.navbar-item(href="/")
                    img(src="/logo_28.png", width="28", height="28", style="margin-right: 0.5rem;")
                    span.has-text-weight-bold PeerWave 
                    span.mt-1.is-size-7.has-text-weight-light.is-family-monospace &nbsp;v0.0.4
            div.navbar-start
                a.navbar-item(href="/host") 
                    button.button.is-link
                                span.icon
                                    i.bi.bi-share-fill
                                span Host
                a.navbar-item(href="/channels") 
                    button.button.is-danger
                                span.icon
                                    i.bi.bi-chat-square-quote-fill
                                span Channels
                a.navbar-item(href="/") About
            div.navbar-end
                div.navbar-item
                    div.buttons
                        a(href="https://buymeacoffee.com/simonz", target="_blank")
                            button.button.is-warning
                                span.icon
                                    i.fa.fa-buymeacoffee
                                span Buy me a coffee
                        a(href="https://github.com/simonzander/PeerWave", target="_blank")
                            button.button
                                span.icon
                                    i.bi.bi-github
                                span GitHub
        .fixed-grid.has-1-cols-mobile.has-1-cols-tablet.has-2-cols-desktop(style="margin: 0;")
            .grid.is-gap-0
                block content