extends layout

block content
    include sidelogo.pug
    .cell.is-fullheight(style="height: 95.7vh;")
        section.hero.is-medium
            .hero-body
                form(action="/register", method="POST")
                    .field
                        label.label(for="email") Email
                        .control
                            input.input(type="email", id="email", name="email", placeholder="Enter your email")
                    .field
                        .control
                            button.button(type="submit") Register