extends layout

block content
    include sidelogo.pug
    .cell.is-fullheight(style="height: 95.7vh;")
        section.hero.is-medium
            .hero-body
                button.button.is-primary#addkey Add Key
                table.table
                    thead
                        tr
                            th ID
                            th Device
                            th Actions
                    tbody
                        tr
                            td 1
                            td Device 1
                            td
                                button.button.is-danger Delete
                        tr
                            td 2
                            td Device 2
                            td
                                button.button.is-danger Delete
    script(src="/base64url.js")
    script(src="/newkey.js")
        