.modal#reply-modal
    .modal-background
    .modal-card
        .modal-card-head
            p.modal-card-title Reply to Thread
            button.delete
        .modal-card-body    
        .modal-card-foot
            form#reply-form
                textarea.has-background-black-ter(name="message" placeholder="Enter your message" style="height: 5rem; width: 100%; border: 1px solid hsl(0, 0%, 14%); border-radius: 5px;")
                button.button.is-primary(type="submit") Send
                button.button Cancel