extends layout

block content
    input#room(type="hidden", value=room)
    .cell.is-fullheight(style="height: 100vh;")
        #tab_stream_content.mt-6
            section.hero.is-primary
                .hero-body
                    .grid
                        .cell.is-col-span-2
                              #copy_viewerurl.control.has-icons-right
                                input#viewerurl.input.is-large.is-black(type="text", placeholder="filled with viewer url", readonly, style="cursor: pointer;")
                                span.icon.is-medium.is-right
                                    i.fa.fa-clipboard
                        .cell.is-col-span-2
                            p.subtitle The stream is provided by a client and shared directly between peers. The server doesn't know the content. When you access a stream, you share it with others. 
                                b.has-text-link Don't access streams from unknown providers.
            div
                video(controls autoplay muted poster="/novideo.jpg", style="height: 60vh; width: 100vh;")
            footer.footer
                nav.level
                    .level-item.has-text-centered
                        div
                            p.heading upload speed
                            p.title#upload_speed_files 0.00 kbit/s
                    .level-item.has-text-centered
                        div
                            p.heading download speed
                            p.title#download_speed_files 0.00 kbit/s
                    .level-item.has-text-centered
                        div
                            p.heading max peers
                            p.title
                                input.input.is-normal.is-primary#max_peers_stream(type="number", min="1", value="4")
    script(type="module" src="/view.js")
