extends layout

block content
    include sidelogo.pug
    .cell.is-fullheight(style="height: 95.7vh;")
        section.hero.is-medium
            .hero-body
                form(action="/otp", method="POST")
                    .field
                        label.label Enter OTP:
                        .control
                            input.input(type="number" name="otp" required)
                    .field
                        .control
                            button.button(type="submit") Submit