extends layout

block content
    input#room(type="hidden", value=room)
    include sidelogo.pug
    .cell.is-fullheight(style="height: 95.7vh;")
        #tab_files_content.mt-6
            section.hero.is-primary
                .hero-body
                    .grid
                        .cell.is-col-span-2
                            #copy_shareurl.control.has-icons-right
                                input#shareurl.input.is-large.is-black(type="text", placeholder="filled with share url", readonly, style="cursor: pointer;")
                                span#copy_shareurl.icon.is-medium.is-right
                                    i.fa.fa-clipboard
                        .cell.is-col-span-2
                            p.subtitle The files are provided by a client and shared directly between peers. The server doesn't know the content. When you download a file, it stays in your memory and is shared with others. 
                                b.has-text-link Don't download files from unknown providers.

            div
                article#fileList.panel.is-link(style="overflow: auto; height: 60vh; margin: 1rem auto;")
                    p.panel-heading Files
                    a.panel-block
                        span.panel-icon
                            i.fa.fa-file(aria-hidden="true")
                        div.columns(style="width: 100%")
                            div.column.has-text-weight-bold Filename
                            div.column.has-text-weight-bold Download
                            div.column.has-text-weight-bold Upload
                            div.column.has-text-weight-bold Size
                            div.column.has-text-weight-bold Seeders
                            div.column.has-text-weight-bold Download
                    div#filecontent
            footer.footer
                nav.level
                    .level-item.has-text-centered
                        div
                            p.heading upload speed
                            p.title#upload_speed_files 0.00 kbit/s
                    .level-item.has-text-centered
                        div
                            p.heading download speed
                            p.title#download_speed_files 0.00 kbit/s
                    .level-item.has-text-centered
                        div
                            p.heading max peers
                            p.title
                                input.input.is-normal.is-primary#max_peers_files(type="number", min="1", value="4")
    script(type="module" src="/client.js")
    
